.ce-chats-container{
background-color: blue;
}

.ce-settings-column{
    background-color: blue;

}

.ce-chat-feed-column{
    background-color: blue;

}

.ce-chat-list-column{
    background-color: blue;

}

.ce-chat-engine{
    background-color: blue;

}


.ce-settings-column{
    background-color: blue;

}